*{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#left-button{
    margin-right: 3px;
    
}

button{
    background-color: wheat;
    border-radius: 5px;
    border: 1px solid rgb(219, 199, 161);
    font-weight: 500;
    margin-bottom: 10px;
}

person-component{
    border-bottom: 1px solid black;
  }